.title1 {
	font-family: "bely-display", sans-serif;
	font-size:80px;
	position: absolute;
    top: 260px;
    left: 200px;
    background: linear-gradient(to right, indianred, indianred 50%, #4b4444 50%);
  	background-clip: text;
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	background-size: 200% 100%;
  	background-position: 100%;
  	transition: background-position 1s ease;
  	text-decoration: none; 
    z-index: 1;
}

.circle {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: inline-block;
    background-color: #4b4444;
    position: absolute;
    top: 270px;
    left: 1200px;
    animation: rotation 8s infinite linear;
    box-shadow: 10px 10px 2px #bfbfbf;
    background: linear-gradient(to right, #2971e1, #2971e1 50%, #4b4444 50%);
  	background-size: 200% 100%;
  	background-position: 100%;
  	transition: background-position 1s ease;
}

.line {
    height: 30px;
    width: 100px;
    background-color: #4b4444;
    position: absolute;
    top: 87px;
    left: 220px;
    border-radius: 5px;
    box-shadow: 10px 10px 2px #bfbfbf;
}

.arrowtip {
	border: solid #4b4444;
    border-width: 0 40px 40px 0;
    display: inline-block;
    padding: 55px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    top: 27px;
    left: 260px;
    border-radius: 5px;
    box-shadow: 0px 19px 2px #bfbfbf;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


h1 {
	position:absolute;
	left:10000px;
}

h2 {
	font-family: 'georgiapro';
    font-size: 1px;
    font-weight: 200;
    font-style: italic;
    color: #bebebe;
    position: absolute;
    left: 650px;
    top: 371px;
}

h2:hover {
	color:#4b4444;
	cursor:default;
}

.title1:hover {
	background-position: 0 100%;
	cursor:default;
}

.circle:hover {
	background-position: 0 100%;
	cursor:default;
}

body {
	background-color: #fffff8;
}

::-webkit-scrollbar{
    display: none;
  }

.static-map {
	height:50px;
	filter:grayscale(100%);
	position:fixed;
}

.active-map {
	height:50px;
	filter:grayscale(0%);
	position: fixed;
  left: 9px;
}

.static-map:hover {
	opacity:0;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column; 
  grid-gap: 1700px;
  align-items: center;
  justify-content: center;
  height: 300px;
  position: absolute;
  left: 3500px;
  bottom:150px;
}

.icon {
  flex: 1 1 auto;
  margin: 10px;
  height:30px;
  width: 60px;
  font-size: 0px;
  background-color: #f7f7f7;
  color: #313131;
  box-shadow: 5px 5px 1px #bfbfbf;
}

.icon:hover {
  height: 80px;
  width:150px;
  font-size:10px;
}

.description {
  display:none;
}

.sf1 {
  position: absolute;
  left: 3300px;
  top: 250px;
  height: 200px;
  box-shadow: 5px 5px 1px #bfbfbf;
}

.sf2 {
  position: absolute;
  left: 4950px;
  top: 200px;
  height: 300px;
  background-color: #fffff8;
  border-radius: 50%;
  box-shadow: 5px 5px 1px #bfbfbf;
}

.sf3 {
  position: absolute;
  left: 6750px;
  top: 200px;
  height: 300px;
  background-color: #fffff8;
  border-radius: 50%;
  box-shadow: 5px 5px 1px #bfbfbf;
}

.sf4 {
  position: absolute;
  left: 8500px;
  top: 200px;
  height: 300px;
  background-color: #fffff8;
  box-shadow: 5px 5px 1px #bfbfbf;
}

.sf5-1 {
  position: absolute;
  left: 10180px;
  top: 160px;
  height: 150px;
  background-color: #fffff8;
  box-shadow: 5px 5px 1px #bfbfbf;
}

.sf5-2 {
  position: absolute;
  left: 10380px;
  top: 160px;
  height: 150px;
  background-color: #fffff8;
  box-shadow: 5px 5px 1px #bfbfbf;
}

.sf5-3 {
  position: absolute;
  left: 10380px;
  top: 350px;
  height: 150px;
  background-color: #fffff8;
  box-shadow: 5px 5px 1px #bfbfbf;
}

.sf5-4 {
  position: absolute;
  left: 10180px;
  top: 350px;
  height: 150px;
  background-color: #fffff8;
  box-shadow: 5px 5px 1px #bfbfbf;
}

.sf6 {
  position: absolute;
  left: 12050px;
  top: 200px;
  height: 300px;
  background-color: #fffff8;
  box-shadow: 5px 5px 1px #bfbfbf;
}

.sf9 {
  position: absolute;
  left: 17180px;
  top: 200px;
  height: 300px;
  background-color: #fffff8;
  box-shadow: 5px 5px 1px #bfbfbf;
}

.sf11 {
  position: absolute;
  left: 20950px;
  top: 200px;
  height: 300px;
  background-color: #fffff8;
  box-shadow: 5px 5px 1px #bfbfbf;
}

