@font-face {
    font-family: 'WhirlyBirdie-WideBold';
    src: url('assets/WhirlyBirdie-WideBold.otf');
    font-weight: normal;
    font-style: normal;

}

h1 {
	font-family: "WhirlyBirdie-WideBold";
    font-size: 200px;
    color: black;
    position: fixed;
    text-align: center;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    pointer-events:none;
    -webkit-text-stroke: 0px black;

}

.mph {
	font-size:20px;
	font-style:normal;
	font-family:"Agency Fb";
	font-weight:100;
  -webkit-text-stroke: 0px black;

}

.web{
	width:45px;
	height:45px;
	border-radius:50%;
	background:white;
	position:fixed;
	bottom:130px;
	left:60px;
	border:solid black;
	text-align:center;
	font-size:30px;
	font-family:"WhirlyBirdie-WideBold";
	line-height:45px;
	cursor:default;
}

.web:hover .webinfo{
	display:block;
}

.webinfo {
    width: 300px;
    height: 100px;
    border: 3px solid;
    border-radius: 10px;
    position: fixed;
    left: 170px;
    bottom: 100px;
    font-family: Agency Fb;
    font-size: 10px;
    text-align: left;
    font-size: 18px;
    line-height: 30px;
    padding-left: 20px;
    padding-top: 10px;
    display:none;
}

h2:hover .y2000{
	display:block;
}

h2:hover .y2010{
	display:block;
}

h2:hover .y2020{
	display:block;
}

h2:hover .y1990{
	display:block;
}

.y2000{
	text-align:center;
	cursor:pointer;
	    padding-left: 35px;
	    display:none;
}

.y2010{
	text-align:center;
	cursor:pointer;
	    padding-left: 35px;
	    display:none;
}

.y2020{
	text-align:center;
	cursor:pointer;
	    padding-left: 35px;
	    display:none;
}

.y1990{
	text-align:center;
	cursor:pointer;
	    padding-left: 35px;
	    display:none;
}

h2{
    font-family: "Agency Fb";
    font-size: 20px;
    font-weight: 100;
    position: fixed;
    top: 0px;
    right: 10px;
    width: 100px;
}

h3{
    font-family: "Agency Fb";
    font-size: 20px;
    position: fixed;
    font-weight: 100;
    bottom: 170px;
    left: 45.7%;
    text-align:center;
}

h4{
	position:fixed;
	font-family:"Agency Fb";
	font-size:20px;
	font-weight:100;
	top:-10px;
	left:20px;
}

#average-speed.red {
  color: red;
}

#average-speed.orange {
  color: #ffd600;
}

#average-speed.green {
  color: #00b400;
}



.manhattan {
    position: fixed;
    left: 710px;
    top: 140px;
    height: 280px;
    rotate: 31deg;
    z-index:-1;
    filter: invert(94%) sepia(0%) saturate(3520%) hue-rotate(30deg) brightness(160%) contrast(61%);
    cursor:pointer;
}

.manhattan:hover {
	filter: invert(94%) sepia(0%) saturate(3520%) hue-rotate(30deg) brightness(70%) contrast(61%);
}




.bronx {
    position: fixed;
    left: 786px;
    top: 100px;
    height: 150px;
    rotate: 3deg;
    z-index:-1;
    filter: invert(94%) sepia(0%) saturate(3520%) hue-rotate(30deg) brightness(290%) contrast(61%);
    cursor:pointer;
}

.bronx:hover {
	filter: invert(94%) sepia(0%) saturate(3520%) hue-rotate(30deg) brightness(90%) contrast(61%);
}

.queen {
    position: fixed;
    left: 750px;
    top: 249px;
    height: 320px;
    rotate: 1deg;
    z-index:-1;
    filter: invert(94%) sepia(0%) saturate(3520%) hue-rotate(30deg) brightness(130%) contrast(61%);
    cursor:pointer;
}

.queen:hover {
	filter: invert(94%) sepia(0%) saturate(3520%) hue-rotate(30deg) brightness(50%) contrast(61%);
}

.brooklyn {
position: fixed;
    left: 673px;
    top: 330px;
    height: 210px;
    rotate: 1deg;
    z-index:-1;
    filter: invert(94%) sepia(0%) saturate(3520%) hue-rotate(30deg) brightness(200%) contrast(61%);
    cursor:pointer;
  }

.brooklyn:hover {
	filter: invert(94%) sepia(0%) saturate(3520%) hue-rotate(30deg) brightness(80%) contrast(61%);
}

.staten {
position: fixed;
    left: 500px;
    top: 440px;
    height: 160px;
    rotate: 1deg;
    z-index:-1;
    filter: invert(94%) sepia(0%) saturate(3520%) hue-rotate(30deg) brightness(150%) contrast(61%);
    cursor:pointer;
}

.staten:hover {
	filter: invert(94%) sepia(0%) saturate(3520%) hue-rotate(30deg) brightness(70%) contrast(61%);
}

.traffic {
	width:40px;
	height:40px;
	border-radius:50%;
	background:#00b400;
	position:fixed;
	bottom:60px;
	right:60px;
	border:solid black;

}

.traffic.red{
	background: red;
}

.traffic.green{
	background: #00b400;
}

.traffic.orange{
	background: #ffd600;
}


.legend{
		width: 250px;
    height: 140px;
    border-radius: 20px;
    background-color: white;
    border: 4px solid black;
    position: fixed;
    bottom: 140px;
    right: 60px;
    display:none;
}

	.traffic:hover .legend{
		display:block;
	}


.gt{
		width:25px;
	height:25px;
	border-radius:50%;
	background:#23d323;
	position:fixed;
	border:solid black;
	right: 270px;
  bottom: 240px;
}

.lt {
	font-family: "Agency Fb";
    width: 200px;
    position: fixed;
    right: 60px;
    font-size: 20px;
} 

.yt{
		width:25px;
	height:25px;
	border-radius:50%;
	background:#ffd600;
	position:fixed;
	border:solid black;
	right: 270px;
  bottom: 200px;
}

.mt {
	font-family: "Agency Fb";
    width: 200px;
    position: fixed;
    right: 60px;
    font-size: 20px;
} 

.rt{
	width:25px;
	height:25px;
	border-radius:50%;
	background:red;
	position:fixed;
	border:solid black;
	right: 270px;
  bottom: 160px;
}

.ht {
	font-family: "Agency Fb";
    width: 200px;
    position: fixed;
    right: 60px;
    font-size: 20px;
} 


.refresh{
    height: 50px;
    position: fixed;
    left: 60px;
    bottom: 60px;
}

.refresh:hover{
	cursor:pointer;
}


@media screen and (max-width: 400px){
	h1{
		    font-size: 70px;
    padding: 0px;
    position: fixed;
    top: 47%;
    left: 49%;
    transform: translate(-50%, -50%);
}
	.manhattan{
		    left: 180px;
    top: 100px;
    height: 100px;
}
	.manhattan:hover{
		height:110px;
	}
		.bronx{
		left: 206px;
    top: 82px;
    height: 60px;
}
	.bronx:hover{
		height:70px;
	}
		.queen{
		left: 192px;
    top: 140px;
    height: 125px;
}
	.queen:hover{
		height:135px;
	}
		.brooklyn{
		left: 165px;
    top: 170px;
    height: 80px;
}
	.brooklyn:hover{
		height:90px;
	}

		.staten{
		left: 96px;
    top: 218px;
    height: 65px;
}
	.staten:hover{
		height:75px;
	}

	h3{
		position:fixed;
		left: 132px;
    bottom: 300px;
}

	.legend{
		right:12px;
	}

	.gt{
		right:225px;
	}

	.lt{
		right:12px;
	}

	.yt{
		right:225px;
	}

	.mt{
		right:12px;
	}

	.rt{
		right:225px;
	}

	.ht{
		right:12px;
	}

	.webinfo{
		    width: 300px;
    left: 34px;
    bottom: 195px;
}

